body{
    background-color:rgb(214, 237, 252);
}
.fundo{
      /*com isso o header ficará sempre com o tamanho da tela */
  height: 100%;
  width: 100%;
  /*background geralmente uso o modo compacto, mas aqui vou colocar separadamente para explicar cada parte*/
  /* aqui defino a imagem maior*/
  background-image: url("static/imagem/background-doacao.webp");
  /*deixa o background com efeito paralax*/
  background-attachment: fixed;
  /* cover é para nunca deixar espaço sem imagem*/
  background-size: cover;
}
nav{
 display: flex;
 justify-content: center;
 align-items: center;
 
 
}
li{
    list-style: none;
    padding: 10px;
    background-color: rgb(10, 107, 107);
    color: white;
}
li:first-child{
    border-radius: 10px 0px 0px 0px;
}
li:last-child{

    border-radius:0px  10px 0px 0px;
}
a{
    text-decoration: none;
    color: white;
}
button{
    
    position: absolute;
     top: 50%;
     left: 50%;

}
.container{
    border-radius: 10px;
    border: 10px solid rgb(10, 107, 107);
}

footer{
    background-color:rgb(10, 107, 107) ;
    width: 100%;
    height: 200px;
}

h1{
    text-align: center;
    color:  rgb(10, 107, 107) ;;
}

.conteinerCard{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.cardUm{
 
    width: 200px;
    height: 300px;
    background-color:rgb(10, 107, 107) ;
    margin: 10px;
    border-radius: 10px;
    background-image: url(../imagem/sangue-fundo.webp);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition-duration:2s;
    transform-origin: 0% 0%
    
 
    
    
   
}
.cardUm:hover{
    width: 30%;
    height: 300px;
   /* animation: expandir 20s linear;*/
}

.cardDois{

    width: 200px;
    height: 300px;
    background-color:rgb(10, 107, 107) ;
    margin: 10px;
    border-radius: 10px;
    background-image: url(../imagem/doacao-cabelo.webp);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transform-origin: 0% 0%;
    transition-duration:2s;
 
    
    
   
}
.cardDois:hover{
    width: 30%;
    height: 300px;
   /* animation: expandir 20s linear;*/
}

.cardTres{
  
    width: 200px;
    height: 300px;
    background-color:rgb(10, 107, 107) ;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: 0% 0%;
    transition-duration:2s;
 
    
    
   
}
.cardTres:hover{
    width: 100%;
    height: 300px;
   /* animation: expandir 20s linear;*/
}


@keyframes ????? {

    from{
   

    }
    20%{
    
    100%{
    
    }

}



}